<span class="notice"><%= flash[:notice] %></span>

<h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>

<%= link_to 'Add a new prescription', "/patients/#{@patient.id}/medications/new" %>

<table>Prescriptions</table>
<tr>
  <% @medications.each do |medication| %>
    <td><%= medication.name %></td>
    <td><%= medication.dosage %></td>
  <% end %>
</tr>


