<% if flash[:notice] %>
  <span class="notice"><%= flash[:notice] %></span>
<% end %>

<h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>

<%= link_to 'Add a new prescription', new_patient_medication_path(@patient) %>

<table>Prescriptions</table>
<tr>
  <% @medications.each do |medication| %>
    <td><%= medication.name %></td>
    <td><%= medication.dosage %></td>
  <% end %>
</tr>


